@charset "utf-8";

.kv img {
    object-position: 80% 15%;
}

html {
    overflow-x: hidden;
}

/* p {
    text-align: center;
} */

h2 {
    /* max-width: 220px; */
    width: 100%;
    text-align: center;
    /* font-size: 2rem; */
    margin-bottom: 60px;
    padding: 30px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    color: #B45A27;
    background-image: url(../images/illustrations/headline/goods_list_headline_mobile.png);

}

h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
}

h4 {
    text-align: start;
    font-weight: bold;
}

/* .wrapper {
    margin-top: 150px;
} */

.attention {
    margin-bottom: 60px;
    background-position: center;
    background-repeat: no-repeat;
    color: #B45A27;
    text-align: center;
}

.activity-delimiter {
    margin-bottom: 100px;
    /* background-color: #ffff; */
    border-radius: 20px;
    padding: 30px;
    background-color: #ffff;
    /* box-shadow: 5px 5px 8px 0 #af813a;
    /* border: 3px #7b7b7b; */
    /* border: groove 6px #cf9957; */
    border: solid 3px #A7D28D;
}

.activity-delimiter-last {
    margin-bottom: 50px;
    /* background-color: #ffff; */
    border-radius: 20px;
    padding: 30px;
    background-color: #fff;
    /* box-shadow: 5px 5px 8px 0 #af813a; */
    /* border: 3px #7b7b7b; */
    /* border: groove 6px #cf9957; */
    border: solid 3px #A7D28D;

}

.activity-photo {
    /* max-width: 550px; */
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    object-fit: cover;
}

.activity-group {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.station-namebox {
    text-align: start;
    margin-bottom: 30px;

}

.station-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* width: 195px; */
    margin: 10px 20px;
    padding: 4px 10px;
    border: none;
    border-radius: 25px;
    background-color: #a7d28d;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 30px;

}

.station-name::before {
    position: absolute;
    right: calc(2em + -9px);
    transform: translateX(50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    content: '';
}

.station-name::after {
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 3px solid #a7d28d;
    border-right: 3px solid #a7d28d;
    content: '';
}

.station-name:hover {
    opacity: 0.7;
}


/* .activity-name {
    width: 100%;
    text-align: start;
} */

.roadstation-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* width: 195px; */
    margin: 10px 20px;
    padding: 4px 10px;
    border: none;
    border-radius: 25px;
    background-color: #a7d28d;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.roadstation-name::before {
    position: absolute;
    right: calc(2em + -9px);
    transform: translateX(50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    content: '';
}

.roadstation-name::after {
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 3px solid #a7d28d;
    border-right: 3px solid #a7d28d;
    content: '';
}

/* .roadstation-name a { */
/* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
/* } */

.station-name:hover {
    /* position: relative;
    top: 5px;
    box-shadow: none; */
    opacity: 0.7;
}


.business-text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: start;
}

.price-text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: start;
}

.conditions-text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: start;
}

.detail-text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: start;
}

.activity-blog-place {
    width: 205px;
}

.roadstation-blog-name {
    text-align: center;
}

.blog-btn {
    text-align: center;
    margin-bottom: 5%;
}

/* .roadstation-name { */
/* width: 100%; */
/* text-align: left;
    font-size: 1.2rem; */
/* } */

/* display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; */
/* width: 250px; */
/* margin: 0 auto; */
/* padding: 0.5em 2em; */



.roadstation-name:hover {
    opacity: 0.7;
}

.blog-btn a:hover {
    opacity: 0.7;
}

.blog-btn img {
    max-width: 320px;
    height: auto;
    object-fit: cover;
}

@media screen and (min-width:601px) {

    h2 {
        /* max-width: 220px; */
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 60px;
        padding: 60px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        color: #B45A27;
        background-image: url(../images/illustrations/headline/activity_headline.png);
        background-size: contain;
    }
}



@media screen and (min-width:901px) {

    section {
        margin: 0px 0px 150px 0px;
    }




    h2 {
        /* max-width: 220px; */
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 60px;
        padding: 60px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        color: #B45A27;
        background-image: url(../images/illustrations/headline/activity_headline.png);

    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 20px;
    }

    .activity-photo {
        max-width: 550px;
        max-height: 550px;
        width: 550px;
        margin-right: 50px;
        object-fit: cover;
    }

    .activity-group {
        display: flex;
        /* max-width: 1200px;
        width: 100%;
        margin: 0 auto; */
    }

    /* .activity-text-group { */
    /* flex-direction: column; */
    /* display: flex; */
    /* } */

    .activity-name {
        max-width: 600px;
        /* max-height: 120px; */
        /* width: 100%; */
    }

    .headline-conditions-text {
        margin-top: 10px;
    }

    /* .activity-text {
    max-width: 600px;
    max-height: 120px;
    width: 100%;
} */

    /* .business-text { */
    /* max-width: 1200px; */
    /* max-height: 200px; */
    /* width: 100%; */

    /* } */

    /* .price-text { */
    /* max-width: 1200px; */
    /* max-height: 100px; */
    /* width: 100%; */
    /* } */

    /* .conditions-text { */
    /* max-width: 1200px; */
    /* max-height: 190px; */
    /* width: 100%; */
    /* } */

    /* .detail-text { */
    /* max-width: 1200px; */
    /* max-height: 95px; */
    /* width: 100%; */
    /* } */


    /* display: flex;
                    justify-content: space-between;
                    align-items: center; */
    /* width: 560px; */
    /* margin: 0 auto; */
    /* padding: 0.5em 2em; */
    /* padding: 15px 15px; */





    .blog-btn {
        text-align: center;
    }

    .blog-btn img {
        max-width: 700px;
        height: auto;
        object-fit: cover;
    }
}


/* PC(デスクトップサイズ) @media screen and (min-width:1115px) { */

/* section {
        margin: 0px 0px 150px 0px;
    } */




/* h2 {
        /* max-width: 220px; */
/* width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 60px;
        padding: 60px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        color: #B45A27;
        background-image: url(../images/illustrations/headline/activity_headline.png); */

/* }  */

/* h3 {
        font-size: 32px;
    } */

/* h4 {
        font-size: 20px;
    } */

/*
    .activity-photo {
        /* max-width: 550px; */
/* max-height: 380px;
        width: 550px;
        margin-right: 50px; */
/* } */

/* .activity-group {
        display: flex;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    } */

/* .activity-text-group {
        flex-direction: column;
    } */
/*
    .activity-name {
        max-width: 600px;
        /* max-height: 120px; */
/* width: 100%; */
/* }  */

/* .headline-conditions-text {
        margin-top: 10px;
    } */

/* .activity-text {
    max-width: 600px;
    max-height: 120px;
    width: 100%;
} */

/* .business-text {
        max-width: 1200px;
        /* max-height: 200px; */
/* width: 100%; */
/* }  */

/* .price-text {
        max-width: 1200px;
        /* max-height: 100px; */
/* width: 100%; */
/* }  */

/* .conditions-text {
        max-width: 1200px;
        /* max-height: 190px; */
/* width: 100%; */
/* }  */

/* .detail-text {
        max-width: 1200px;
        /* max-height: 95px; */
/* width: 100%; */
/* }  */

/* .roadstation-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        /* width: 250px; */
/* margin: 0 auto; */
/* padding: 0.5em 2em; */
/* padding: 15px 13px;
        border: none;
        border-radius: 25px;
        background-color: #a7d28d;
        color: #fff;
        font-weight: 600;
        font-size: 1em;
        margin-bottom: 10px;
        margin-top: 15px; */
/* }  */
/*
    .roadstation-name::before {
        position: absolute;
        right: calc(1em + 2.5px);
        transform: translateX(50%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        content: '';
    } */

/* .roadstation-name::after {
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        margin-left: 10px;
        border-top: 5px solid #a7d28d;
        border-right: 5px solid #a7d28d;
        content: '';
    } */




/* } */
