@charset "utf-8";

html {
    overflow-x: hidden;
}

section {
    margin: 0 auto;
    text-align: center;
}

h2 {
    border: 1px solid #000;
    border-radius: 50px;
    max-width: 220px;
    width: 100%;
    margin: 30px auto 30px auto;
    text-align: center;
    font-size: 20px;
}

.activity-photo{
    max-width: 320px;
    width: 100%;
    margin-bottom: 30px;
}

.activity-name{
    margin-bottom: 30px;
}

.text {
    text-align: left;
}

.activity-text {
    padding-top: 0;
    padding-bottom: 30px;
    text-align: left;
}

.buy-place {
    width: 160px;
}

.roadstation-frame {
    display: flex;
    justify-content: flex-start;
    gap: 30px 25px;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 30px;

}
