@charset "utf-8";

.kv img {
    object-position: 80% 15%;
}

html {
    overflow-x: hidden;
}

p {
    text-align: center;
}

section {
    /* margin: 0 auto; */
    margin: 0px 30px 50px 30px;
}

h2 {
    /* max-width: 220px; */
    width: 100%;
    text-align: center;
    /* font-size: 2rem; */
    margin-bottom: 60px;
    padding: 30px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    color: #B45A27;
    background-image: url(../images/illustrations/headline/goods_list_headline_mobile.png);

}

h3 {
    font-size: 1.6rem;
    font-weight: bold;
}

h4 {
    text-align: start;
    font-weight: bold;
}

/* .wrapper {
    margin-top: 150px;
} */

.attention {
    margin-bottom: 60px;
    background-position: center;
    background-repeat: no-repeat;
    color: #B45A27;
    text-align: center;
}

.activity-delimiter {
    margin-bottom: 100px;
    /* background-color: #ffff; */
    border-radius: 20px;
    padding: 30px;
    background-color: #ffff;
    /* box-shadow: 5px 5px 8px 0 #af813a;
    /* border: 3px #7b7b7b; */
    /* border: groove 6px #cf9957; */
    border: solid 3px #A7D28D;
}

.activity-delimiter-last {
    margin-bottom: 50px;
    /* background-color: #ffff; */
    border-radius: 20px;
    padding: 30px;
    background-color: #fff;
    /* box-shadow: 5px 5px 8px 0 #af813a; */
    /* border: 3px #7b7b7b; */
    /* border: groove 6px #cf9957; */
    border: solid 3px #A7D28D;

}

.activity-photo {
    /* max-width: 550px; */
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
    object-fit: cover;
}

.activity-group {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-align: center;
}

.station-namebox {
    text-align: left;
    margin-bottom: 30px;

}

.activity-name {
    width: 100%;
    text-align: start;
}

.station-name {
    display: inline-block;
    /* width: 100%; */
    padding: 10px 10px;
    margin: 10px auto 10px auto;
    text-align: start;
    font-size: 1.2rem;
    /* border-bottom: double 4px #e7d955; */
    background-color: #A7D28D;
    box-shadow: 0px 10px 0px -5px #70b27f;
    border-radius: 50px;


}

.station-name:hover {
    position: relative;
    top: 5px;
    box-shadow: none;
}


.business-text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: start;
}

.price-text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: start;
}

.conditions-text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: start;
}

.detail-text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0;
    text-align: start;
}

.roadstation-name {
    width: 100%;
    text-align: start;
    font-size: 1.2rem;
}

.activity-blog-place {
    width: 205px;
}

.roadstation-blog-name {
    text-align: center;
}

.blog-btn {
    text-align: center;
    margin-bottom: 5%;
}

.roadstation-name {
    display: inline-block;
    text-align: start;
    background-color: #A7D28D;
    box-shadow: 0px 10px 0px -5px #70b27f;
    border-radius: 50px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    /* height: 120px; */
    /* max-width: 320px; */
}


.roadstation-name:hover {
    position: relative;
    top: 5px;
    box-shadow: none;
}



.blog-btn a:hover {
    opacity: 0.7;
}

.blog-btn img {
    max-width: 320px;
    height: auto;
    object-fit: cover;
}

@media screen and (min-width:601px) {

    h2 {
        /* max-width: 220px; */
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 60px;
        padding: 60px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        color: #B45A27;
        background-image: url(../images/illustrations/headline/activity_headline.png);
        background-size: contain;
    }
}



@media screen and (min-width:901px) {
    .blog-btn {
        text-align: center;
    }

    .blog-btn img {
        max-width: 700px;
        height: auto;
        object-fit: cover;
    }
}

/* PC(デスクトップサイズ) */
@media screen and (min-width:1115px) {

    section {
        margin: 0px 0px 150px 0px;
    }




    h2 {
        /* max-width: 220px; */
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 60px;
        padding: 60px;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        color: #B45A27;
        background-image: url(../images/illustrations/headline/activity_headline.png);

    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 20px;
    }

    .activity-photo {
        /* max-width: 550px; */
        max-height: 380px;
        width: 550px;
        margin-right: 50px;
    }

    .activity-group {
        display: flex;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

    .activity-text-group {
        flex-direction: column;
    }

    .activity-name {
        max-width: 600px;
        /* max-height: 120px; */
        width: 100%;
    }

    .headline-conditions-text {
        margin-top: 10px;
    }

    /* .activity-text {
    max-width: 600px;
    max-height: 120px;
    width: 100%;
} */

    .business-text {
        max-width: 1200px;
        /* max-height: 200px; */
        width: 100%;
    }

    .price-text {
        max-width: 1200px;
        /* max-height: 100px; */
        width: 100%;
    }

    .conditions-text {
        max-width: 1200px;
        /* max-height: 190px; */
        width: 100%;
    }

    .detail-text {
        max-width: 1200px;
        /* max-height: 95px; */
        width: 100%;
    }

    .roadstation-name {
        display: inline-block;
        text-align: start;
        background-color: #A7D28D;
        box-shadow: 0px 10px 0px -5px #70b27f;
        border-radius: 50px;
        margin: auto;
        margin-top: 20px;
        padding: 15px;
        /* height: 100px; */
        width: 650px;


    }
}
