@charset "utf-8";

.blog-banner {
    max-width: 360px;
    height: auto;
    width: 100%;
    object-fit: cover;

}

.back-btn {
    margin-bottom: 50px;
}

.blog-title {
    margin-bottom: 30px;
}

/* .date {
} */

.blog-img {

    object-fit: cover;
}

.blog-text {
    text-align: start;
    margin-bottom: 50px;

}





.blog-img {
    max-width: 360px;
    height: auto;
    width: 100%;

}

.blogarticle {
    text-align: center;
}

.address {
    text-align: start;
    font-size: 12px;
    margin-bottom: 50px;
}

.relatedarticle {
    text-align: center;
}


.relatedarticle-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}



@media screen and (min-width:901px) {




    .blog-banner {
        max-width: 1400px;
        height: auto;
        width: 100%;
        object-fit: cover;
        margin-bottom: 150px;

    }

    .back-btn {
        margin-bottom: 50px;
    }

    .blog-main {

        justify-content: space-between;
        width: 100%;
        position: relative;

    }

    .blog-wrapper {
        width: 100%;
        gap: 200px;
        display: flex;

    }

    .blog-title {
        margin-bottom: 30px;
    }

    /* .date {
    } */

    .blog-img {

        object-fit: cover;
        width: 100%;
        max-width: 700px;
    }

    .blog-text {
        text-align: start;
        margin-bottom: 50px;

    }

    .address {
        text-align: start;
        margin-bottom: 50px;


    }

    .relatedarticle-title {
        margin-bottom: 20px;
    }


    .relatedarticle {
        display: flex;
        gap: 50px;
        margin-bottom: 50px;
        /* justify-content: center; */


    }

    .relatedarticle .img {
        width: 300px;
        height: 300px;

    }

    .before-nextbtn {
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
        gap: 50px;

    }

    .side {
        width: 45%;
        height: 400px;
        border: 3px solid #1ca10a;
        background-color: #1ca10a;
        color: cornsilk;
        left: 70%;

    }


}
