@charset "utf-8";



.kv img {
    object-position: center;
    z-index: -1;
}

.wrapper {
    margin: 0 auto;

}

/* a:hover {
    opacity: 0.7;
} */

h2 {
    text-align: center;
    padding: 60px;
    background-image: url(../images/hedline_yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    margin-bottom: 60px;
}

h3 {
    text-align: center;
    padding: 10px;
}

.category-title {
    text-align: left;
}

p {
    text-align: start;
}

.blog-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blog-card {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 50px;
    word-break: break-all;
    box-shadow: 15px 10px 3px 0 #A7D28D;
    border: solid 3px #8C5243;
    background-color: #ffff;
}


.blog-card:hover {
    position: relative;
    top: 5px;
    left: 10px;
    box-shadow: none;
    /* z-index: -999; */
}




.blog-card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.category_list li {
    margin-top: 10px;
    padding: 20px 20px;
}

.side {
    width: 100%;
    /* border: 3px solid #1ca10a; */
    border: 3px solid #a7d28d;
    background-color: #a7d28d;
    color: #8c5243;
    padding: 20px 10px;

}

@media screen and (min-width:601px) {

    .blog-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .blog-card {
        width: 40%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 20px;
        justify-content: center;
        margin-bottom: 50px;
        text-align: center;
        box-shadow: 15px 10px 3px 0 #A7D28D;
        border: solid 3px #8C5243;
        background-color: #ffff;
    }


    */ .side {
        width: 100%;
        height: auto;
    }
}


@media screen and (min-width:901px) {


    .kv {
        object-position: center;
        position: relative;
        top: 0;
    }

    .kv-img {
        z-index: -1;
    }

    .sp-kv {
        width: 100%;
    }

    .blog-box {
        display: flex;
    }

    .blog-main {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        position: relative;
        background: url(../images/illustrations/tanuki-blog.png) no-repeat right -30px bottom 300px / 300px auto;


    }

    .blog-wrapper {
        width: 75%;
    }

    .side {
        width: 20%;
        height: 400px;
        padding: 20px 10px;
        left: 70%;
    }

    .blog-card {
        background-color: #fff;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 20px;
        justify-content: center;
        text-align: center;
        padding: 20px;
        margin: 0 auto;
        margin-bottom: 40px;
        word-break: break-word;
        border-radius: 20px;
        box-shadow: 15px 10px 3px 0 #A7D28D;
        border: solid 3px #8C5243;
        background-color: #ffff;
    }


    .blog-card:hover {
        position: relative;
        top: 5px;
        left: 10px;
        box-shadow: none;
        /* z-index: -999; */
    }

}
