@charset "utf-8";




.blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}



.blog-card {
    height: 500px;
    padding: 10px;
    border: 3px solid #1ca10a;
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: center;

}


/* .img-wrapper img {
    width: 250px;
    height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    object-fit: cover;
}

.img-wrapper .text {
    font-size: 16px;
    text-align: start;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
} */



@media screen and (min-width:901px) {

    .blog-box {
        display: flex;
    }

    .blog-main {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    .blog-wrapper {
        width: 65%;
        gap: 40px;
    }

    .side {
        width: 30%;
        height: 400px;
        border: 3px solid #1ca10a;
        background-color: #1ca10a;
        color: cornsilk;
        position: fixed;
        left: 65%;
    }



    .blog-card {
        width: 46%;
        padding: 8px;
        border: 3px solid #1ca10a;
        box-sizing: border-box;
        border-radius: 20px;
        justify-content: center;
        text-align: center;
        display: inline-table;
    }

    .card-img {
        display: inline-block;
        margin: 0 auto;
        width: 300px;
        height: 200px;
    }

    /* .img-wrapper img {
        width: 300px;
        height: 230px;
        padding-top: 30px;
        padding-bottom: 30px;
        object-fit: cover;
    }


    .img-wrapper .text {
        font-size: 16px;
        text-align: start;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    } */




}
