@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* 基本設定 */
body {
    font-size: 16px;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #91471d;
    background-color: #fffbf1;
}

h1 {
    padding-left: 5px;
}

h2 {
    font-size: 2rem;
    font-family: 'Kiwi Maru', serif;
}

h3 {
    font-size: 20px;
}

p {
    line-height: 1.5rem;
    padding-top: 1rem;
}

/* header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background: #ffffff;
    z-index: 10;
} */


/* コンテンツ内容 */
.wrapper {
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
}

/* 各ページのキービジュアル（TOPを除く） */
.kv {
    z-index: -9999;
}

.kv img {
    margin: 0 auto;
    object-fit: cover;
    /* position: absolute; */
    width: 100%;
    height: 120px;
}

/* サイトロゴ */
.site-logo img {
    position: fixed;
    width: 80px;
    height: auto;
    padding-top: 5px;
    z-index: 100;
}

/* ↓もっと見るボタン */
.btn {
    padding: 20px 20px;
    background-color: #ccc;
}

/* PC版：ナビゲーションメニュー*/
.nav-pc {
    display: none;
}

/* ナビゲーションメニューアイコン */
.icon {
    width: 30px;
    height: 30px;
    background-color: #B45A27;
    border-radius: 50%;
    align-items: flex-end;
}

/* モバイル版：ハンバーガーメニュー */
#wrapper nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 40px;

    box-sizing: border-box;
    z-index: 100;
    background-color: #fffbf1;
}

/* ハンバーガーメニューのリスト */
#wrapper nav ul li {
    color: #36725a;
    font-size: 24px;
    padding: 20px 20px;
    margin: 0 10px;
    border-bottom: 2px dotted #732424;
}

#wrapper nav ul li a {
    text-decoration: none;
    color: #000000
}

#wrapper .btn-gnavi {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 200;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

/* 三本線 */
#wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #b45a27;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

#wrapper .btn-gnavi span:nth-child(1) {
    top: 0;
}

#wrapper .btn-gnavi span:nth-child(2) {
    top: 10px;
}

#wrapper .btn-gnavi span:nth-child(3) {
    top: 20px;
}

#wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#wrapper .btn-gnavi.open span {
    background: #b45a27;
}

#wrapper .btn-gnavi.open span:nth-child(1) {
    width: 24px;
    -webkit-transform: translate(-7px, 17px) rotate(45deg);
    transform: translate(-7px, 17px) rotate(45deg);
}

#wrapper .btn-gnavi.open span:nth-child(3) {
    width: 24px;
    -webkit-transform: translate(-7px, -17px) rotate(-45deg);
    transform: translate(-7px, -17px) rotate(-45deg);
}

/* ↑ここまでハンバーガーメニュー */

/* ブログボタン */
.blog-btn img {
    max-width: 320px;
    height: auto;
    object-fit: cover;
}

/* topへ戻るボタン */
.scroll-top {
    /* ボタンを右下で固定位置にする */
    position: fixed;
    bottom: 60px;
    right: 60px;

    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-top:hover {
    animation: pikopiko 2s steps(2, start) infinite;
}

@keyframes pikopiko {
    0% {
        transform: rotate(20deg);
    }

    to {
        transform: rotate(-10deg);
    }
}

.scroll-top a {
    text-decoration: none;
    color: black;
}

/* フッター */
footer {
    position: relative;
    background-color: #86cc7f;
    width: 100%;
}

.footer-menu {
    width: 200px;
    margin: -60px auto;
    margin-bottom: 100px;
}

.footer-menu li {
    color: #ffffff;
    font-size: 20px;
    padding: 10px 0;
}

.footer-menu a:hover {
    opacity: 0.8;
}

.copyright {
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    text-align: center;
}

@media screen and (min-width:601px) {

    /* PC版メニュー  */
    .nav-pc ul {
        height: 100px;
        display: flex;
        gap: 20px;
        align-items: center;
        padding-right: 20px;
        color: #36725a;
    }

    .nav-pc ul li:hover {
        border-radius: 60% 50% 20% 60%;
        background-color: #f0ffc9;
        transition: all 0.3s ease-in;
        transform: rotate(5deg);
    }

    /* タブレット版：フッターメニュー */
    .footer-menu {
        width: 100%;
        min-width: 650px;
        display: flex;
        justify-content: space-evenly;
    }
}

/* PC(デスクトップサイズ) */
@media screen and (min-width:900px) {

    /* 各ページのKV */
    .kv {
        position: relative;
        top: 100px;
    }

    .kv img {
        margin: 0 auto;
        object-fit: cover;
        width: 100%;
        height: 200px;
    }

    /* モバイル版：サイトロゴ */
    .mobile-logo {
        display: none;
    }

    /* モバイル版：ハンバーガーメニュー */
    .btn-gnavi {
        display: none;
    }

    #global-navi {
        display: none;
    }

    /* コンテンツ */
    .wrapper {
        margin-top: 100px;
        max-width: 1200px;
        min-width: 320px;
    }

    /* PC版：ナビゲーションメニュー */
    .nav-pc {
        position: fixed;
        width: 100%;
        top: 0;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        background-image: url(../images/header/bg_header_green.png);
        background-position: center;
        background-size: cover;
        z-index: 999;
    }

    .nav-pc li {
        font-size: 20px;
    }

    .blog-btn img {
        max-width: 700px;
        height: auto;
    }

}
