@charset "utf-8";

* {
    box-sizing: border-box;
}

.factory {
    text-align: left;
    position: absolute;
    bottom: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}


/* 基本設定 */
body {
    font-size: 16px;
    font-family: "Zen Maru Gothic", sans-serif;
    color: #91471d;
    background-color: #fffbf1;
}

h1 {
    padding-left: 5px;
    margin-right: 15px;
}

h2 {
    font-size: 2rem;
    font-family: "Kiwi Maru", serif;
}

h3 {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
}

p {
    text-align: left;
    line-height: 1.5rem;
}

/* コンテンツ内容 */
.wrapper {
    margin: 0 auto;
    /* margin-top: 100px; */
    padding: 20px;
}

/* 各ページのキービジュアル（TOPを除く） */
svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0.6;
}


.top-kv {
    position: relative;
    z-index: -9999;
}

.kv img {
    margin: 0 auto;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 120px;
}

/* サイトロゴ */
.site-logo img {
    position: fixed;
    width: 80px;
    height: auto;
    margin-left: 10px;
    z-index: 999;
}

.nav-mobile {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #a7d28d;
    z-index: 999;
}

/* ↓もっと見るボタン */
.btn {
    /* モバイルサイズ時の文字のレイアウト */
    text-align: center;
    display: inline-block;
    font-weight: bold;
    padding: 20px 100px;
    border-radius: 50px;
    background-color: #a7d28d;
    box-shadow: 0px 10px 0px -5px #70b27f;
}

.btn:hover {
    position: relative;
    top: 5px;
    box-shadow: none;
}

/* PC版：ナビゲーションメニュー*/
.nav-pc {
    display: none;
}

/* ナビゲーションメニューアイコン */
.icon {
    width: 30px;
    height: 30px;
    background-color: #b45a27;
    border-radius: 50%;
    align-items: flex-end;
}

/* モバイル版：ハンバーガーメニュー */
#wrapper nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 100px;
    background-color: #fffbf1;
    z-index: 100;
}

/* ハンバーガーメニューのリスト */
#wrapper nav ul li {
    color: #36725a;
    font-size: 24px;
    padding: 20px 20px;
    margin: 0 10px;
    border-bottom: 2px dotted #a7d28d;
    background-color: #fff;
}

#wrapper nav ul li img {
    display: inline-block;
    text-align: center;
}

#wrapper nav ul li a {
    text-decoration: none;
    color: #000000;
}

#wrapper .btn-gnavi {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 24px;
    z-index: 200;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;

    /* ３本線の背景の設定 */
    border: 30px solid #f9a228;
    border-radius: 70% 60% 50% 50% / 50% 60% 70% 80%;
    /* background: #d8f0a2; */
}

/* 三本線 */
#wrapper .btn-gnavi span {
    position: absolute;
    right: -16px;
    width: 30px;
    height: 4px;
    background: #ffffff;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

#wrapper .btn-gnavi span:nth-child(1) {
    top: -10px;
}

#wrapper .btn-gnavi span:nth-child(2) {
    top: 0px;
}

#wrapper .btn-gnavi span:nth-child(3) {
    top: 10px;
}

#wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#wrapper .btn-gnavi.open span {
    background: #ffffff;
}

#wrapper .btn-gnavi.open span:nth-child(1) {
    width: 24px;
    -webkit-transform: translate(-7px, 17px) rotate(45deg);
    transform: translate(-7px, 17px) rotate(45deg);
}

#wrapper .btn-gnavi.open span:nth-child(3) {
    width: 24px;
    -webkit-transform: translate(-7px, -17px) rotate(-45deg);
    transform: translate(-7px, -17px) rotate(-45deg);
}

/* ↑ここまでハンバーガーメニュー */

/* ブログボタン */
.blog-btn img {
    max-width: 320px;
    height: auto;
    object-fit: cover;
}

/* topへ戻るボタン */
.scroll-top {
    /* ボタンを右下で固定位置にする */
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* スクロールのたぬみちのサイズ */
.scroll-top img {
    width: 100px;
    height: auto;
}

.scroll-top:hover {
    animation: pikopiko 2s steps(2, start) infinite;
}

@keyframes pikopiko {
    0% {
        transform: rotate(20deg);
    }

    to {
        transform: rotate(-10deg);
    }
}

.scroll-top a {
    text-decoration: none;
    color: black;
}

/* ここから↓ページネーション */
.link {
    width: 100%;
    margin-top: 32px;
    text-align: center;
}

.pagination {
    margin: auto;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-link {
    display: block;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin: auto;
}

.page-item:nth-child(odd) {
    background-color: #5EB356;
    border-radius: 50%;
    color: #FFFBF1;
    font-size: 40px;
    font-weight: bold;
}

.page-item:nth-child(even) {
    background-color: #5EB356;
    border-radius: 50%;
    color: #FFFBF1;
    font-size: 40px;
    font-weight: bold;
}

.page-item:nth-of-type(1) {
    background-color: #FFFBF1;
    color: #91471D;
    font-size: 40px;
    font-weight: bold;
}

.page-item:nth-last-of-type(1) {
    background-color: #FFFBF1;
    color: #91471D;
    font-size: 40px;
    font-weight: bold;
}

/* アニメーション */
/* 拡大 */
.zoomIn {
    animation-name: zoomInAnime;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

@keyframes zoomInAnime {

    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 0.7;
        transform: scale(1);
    }
}

/* ↑ここまでKVアニメ */

/* 拡大 */
.bomn {
    animation-name: bomn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation: ease-out;
}

@keyframes bomn {
    from {
        transform: scale(0.3);
    }

    to {
        transform: scale(1);
    }
}

/* ↑ぼんっアニメ */


/* フッターアニメーション */
.footer-line {
    /* max-width: 1980px; */
    background: center;
}

/* ガタゴトアニメ */
.demo_item {
    width: 140px;
    height: 80px;
    border-radius: 10px;
    background-image: url(../images/illustrations/tanuki-activity3.png);
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

.demo_item.anime {
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-duration: 0.1s;
    animation-direction: alternate;
    animation-timing-function: steps(2);
    transition-duration: .3s;
    transition-property: transform;
}

.demo_stage {
    position: relative;
    width: 100%;
    height: 65px;
    top: -120px;
    display: block;
}

.demo_wrap {
    display: block;
    position: absolute;
    top: 20px;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: 1;
    margin-right: -25px;
}

.demo_wrap[data-order="left"] {
    animation-name: GoLeft;
}

.demo_wrap[data-order="right"] {
    animation-name: GoRight;
}

[data-order="right"]>.demo_item {
    transform: rotateY(180deg);
}

@keyframes GoLeft {
    0% {
        right: 10%;
    }

    100% {
        right: 90%;
    }
}

@keyframes GoRight {
    0% {
        right: 90%;
    }

    100% {
        right: 10%;
    }
}

@keyframes upDown {
    0% {
        top: 0;
    }

    100% {
        top: 3px;
    }
}

/* ↑ガタゴトアニメ */

@media screen and (min-width:768px) {

    /* スクロールのたぬみちのサイズ */
    .scroll-top img {
        width: 120px;
        height: auto;
    }

    .pagination {
        /* width: 51%; */
        width: 50%;
    }
}

@media screen and (min-width:1080px) {
    nav {
        /* width: 790px; */
        /* width: 71%; */
        margin: auto;
    }

    .pagination {
        /* width: 51%; */
    }

    .page-link {
        width: 44px;
        height: 44px;
    }

    .page-item:nth-child(odd) {
        font-size: 32px;
    }

    .page-item:nth-child(even) {
        font-size: 32px;
    }

    .page-item:nth-of-type(1) {
        font-size: 32px;
    }

    .page-item:nth-last-of-type(1) {
        font-size: 32px;
    }
}

/* フェードイン */
.scroll-fade-up {
    animation: bomn;
    height: 20px;
    width: 80%;
}

/* 左右からスライドイン */
.scroll-fade-side {
    animation: poyoyon;
    width: 80%;
}

/* ↑ページネーションの設定はここまで */

/* モバイル版：フッタメニュー */
footer {
    position: relative;
    background-color: #5eb356;
    width: 100%;
}

.footer-menu {
    width: 260px;
    padding: 40px 0;
    margin: 0 auto;
}

.footer-menu li {
    color: #ffffff;
    font-size: 20px;
    padding: 10px 0;
}

.footer-menu a:hover {
    opacity: 0.8;
}

.copyright {
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    text-align: center;
}

.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
}



@media screen and (min-width: 601px) {
    .nav-mobile {
        display: none;
    }

    /* PC版メニュー  */
    .nav-pc ul {
        height: 100px;
        display: flex;
        gap: 20px;
        align-items: center;
        padding-right: 20px;
        color: #36725a;
    }

    .nav-pc a {
        font-weight: bold;
    }

    .nav-pc ul li:hover {
        border-radius: 60% 50% 20% 60%;
        background-color: #f0ffc9;
        transition: all 0.3s ease-in;
        transform: rotate(5deg);
    }

    /* カードの押し込み */
    .blog-card:hover {
        position: relative;
        top: 5px;
        left: 5px;
        box-shadow: none;
    }

    /* タブレット版：フッターメニュー */
    .footer-menu {
        width: 100%;
        /* min-width: 650px; */
        display: flex;
        justify-content: space-evenly;
    }
}


/* PC(デスクトップサイズ) */
@media screen and (min-width: 1000px) {

    /* 各ページのKV */
    .kv {
        position: relative;
        top: 100px;
    }

    .kv img {
        margin: 0 auto;
        object-fit: cover;
        width: 100%;
        height: 200px;
    }

    /* モバイル版：サイトロゴ */
    .mobile-logo {
        display: none;
    }

    /* モバイル版：ハンバーガーメニュー */
    .btn-gnavi {
        display: none;
    }

    #global-navi {
        display: none;
    }

    /* コンテンツ */
    .wrapper {
        margin-top: 100px;
        max-width: 1200px;
        min-width: 320px;
    }

    /* PC版：ナビゲーションメニュー */
    .nav-pc {
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        background-color: #fffbf1;


        z-index: 999;
    }

    .nav-pc li {
        font-size: 20px;
    }

    .blog-btn img {
        max-width: 700px;
        height: auto;
    }
}
