@charset "utf-8";

h2 {
    /* font-weight: bold;
    text-align: center;
    margin-top: 50px;
    border-bottom: 2px solid #1db73e; */

    /* font-weight: bold; */
    text-align: center;
    padding: 60px;
    background-image: url(../images/illustrations/headline/blog_headline_mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin-bottom: 60px;

}

table {
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
}

table tbody {
    width: 100%;
}

table tr {
    width: 100%;
}

table th {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #d9e6c0;
    color: #91471d;
    border: 1px solid #fff;
}

table th,
table td {
    padding: 20px;
    vertical-align: middle;
}

table td {
    display: block;
    padding: 20px 0;
    padding-top: 10px;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: left;
}

textarea {
    padding: 1rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    height: 12rem;
    text-align: left;
}

.push {
    text-align: center;
    margin-top: 30px;
}

button {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #a7d28d;
    font-weight: bold;
}

button:hover {
    opacity: 0.7;
}

@media screen and (min-width: 750px) {
    h2 {
        background-image: url(../images/illustrations/headline/blog_headline.png);
        background-position: center;
        background-repeat: no-repeat;
        padding: 60px;
        margin-bottom: 60px;
    }

    table {
        width: 70%;
    }

    table th,
    table td {
        padding: 20px;
        vertical-align: middle;
    }

    table tr {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    table th {
        width: 50%;
        padding: 30px 20px;
    }

    .content {
        padding: 100px 20px;
    }

}

.attention {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: x-large;
}

@media screen and (min-width:1001px) {

    #top {
        padding-top: 0px;
    }
}
