@charset "utf-8";

/*
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
about resetcss
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
*/


/* リセットcssはフォルダ内に作成済み */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kiwi+Maru&display=swap');

.flex {
    display: flex;
}

.block {
    display: block;
}

.mr-tp-2 {
    margin-top: 2rem;
}

h2 {
    background-position: center center;
}

.list {
    width: 350px;
    height: 1480px;
    margin-left: 1.5rem;
    overflow: hidden;
    border: solid green;
    border-radius: 50px;
    padding: 20px 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.list img {
    width: 100%;
}

.list_box {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.link_more_box {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.link_more_box p {
    border: solid;
    display: flex;
    padding: 0;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.area_direction {
    text-align: center;
    font-size: 5rem;
    margin: 2.5rem 0;
}
