@charset "utf-8";

html {
    overflow-x: hidden;
}

section {
    margin: 0 auto;
}

.kv {
    z-index: -1;
}

h2 {
    margin-bottom: 60px;
    padding: 20px;
    /* margin-top: 50px; */
    text-align: center;
    background-image: url(../images/hedline_yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #B45A27;
}

h3 {
    max-width: 220px;
    width: 50%;
    margin: 30px auto 30px auto;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #B45A27;
}

h3::before {
    content: '';
    display: inline-block;
    width: 45px;
    height: 40px;
    background: no-repeat;
    background-image: url(../images/illustrations/tanuki-food.png);
    background-size: contain;
    vertical-align: middle;
}

h3::after {
    content: '';
    display: inline-block;
    width: 45px;
    height: 40px;
    background: no-repeat;
    background-image: url(../images/illustrations/tanuki-food.png);
    background-size: contain;
    vertical-align: middle;
}

.headline-name {
    text-align: start;
    font-weight: bold;
}

.headline-name-comment {
    text-align: start;
    font-weight: bold;
}

.headline-name-season {
    text-align: start;
    margin-top: 10px;
    font-weight: bold;
}

.headline-agricultural-products {
    border-bottom: dotted 10px #e7d955;
    /* padding: 20px 23px; */
}

.headline-seafood {
    border-bottom: dotted 10px #e7d955;
    /* padding: 20px 23px; */
}

.headline-craft {
    border-bottom: dotted 10px #e7d955;
    /* padding: 20px 23px; */
}

.headline-gourmet {
    border-bottom: dotted 10px #e7d955;
    /* padding: 20px 23px; */
}

.headline-others {
    border-bottom: dotted 10px #e7d955;
    /* padding: 20px 23px; */
}

.headline-item-name {
    border-bottom: double 5px #A7D28D;
}

h4 {
    font-size: 20px;
}

.goods {
    display: flex;
    justify-content: center;
    gap: 30px 20px;
    flex-wrap: wrap;
    text-align: center;
}

.goods-group{
        border: 1px solid #000;
        background-color: #fff;
        padding-bottom: 10px;
        box-shadow: 5px 3px 1px 0 #a7d28d;
}

.goods-group:hover{
    opacity: 0.6;
}

.goods-photo {
    max-width: 150px;
    margin-bottom: 10px;
}

.detail-group {
    text-align: center;
}

.detail-photo {
    max-width: 550px;
    width: 100%;
    object-fit: cover;
}

.headline-item-name {
    position: relative;
    max-width: 220px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    color: #B45A27;
    display: inline-block;
    margin: 47px 0;
    text-shadow: 0 0 2px white;
}

.headline-item-name::before {
    display: none;
}

.headline-item-name::after {
    display: none;
}

.season-text {
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
    padding-top: 0;
}

.price-text {
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
    padding-top: 0;
}

.conditions-text {
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
    padding-top: 0;
}

.comment-text {
    max-width: 1200px;
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
    padding-top: 0;
}

.headline-buy-place {
    /* background-color: #008C41; */
    /* border-radius: 50px; */
    max-width: 300px;
    width: 100%;
    margin: 30px auto auto auto;
    text-align: center;
    color: #B45A27;
    border-bottom: dotted 10px #e7d955;
}

.roadstation-frame {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 20px; */
    text-align: center;
}

.roadstation-name {
    width: 160px;
}

.name {
    padding-top: 30px;
}

/* .blog-btn {
    text-align: center;
    margin: 0 auto;
} */

/* .blog-btn img {
    max-width: 320px;
    height: auto;
    text-align: center;
    margin: 30px auto 10px auto;
} */

@media screen and (min-width:530px) {
    .goods-photo {
        max-width: 200px;
    }

    .item-name {
        font-size: 2rem;
    }
}

@media screen and (min-width:680px) {
    .goods-photo {
        max-width: 290px;
    }
}

@media screen and (min-width:900px) {

    h2 {
        /* margin-top: 250px; */
    }

    .goods-photo {
        max-width: 200px;
    }

    @media screen and (min-width:1050px) {
        .goods-photo {
            max-width: 230px;
        }
    }

    /* PC(デスクトップサイズ) */
    @media screen and (min-width:1180px) {

        .kv {
            position: relative;
            top: 0;
        }

        h3 {
            font-size: 32px;
        }

        .goods-photo {
            max-width: 270px;
        }

        .goods {
            display: flex;
            justify-content: center;
            gap: 30px 20px;
            flex-wrap: wrap;
            text-align: center;
        }

        .goods-box {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
        }

        .activity-photo {
            max-width: 550px;
            /* max-height: 380px; */
            width: 100%;
        }

        .item-group {
            display: flex;
            max-width: 1200px;
            width: 100%;
            margin: 50px auto auto auto;
        }

        .detail-photo {
            max-height: 450px;
            margin-right: 50px;
            margin-top: 0;
        }

        .item-text-group {
            flex-direction: column;
        }

        .item-name {
            max-width: 220px;
            width: 100%;
            margin-top: 100px;
        }

        .headline-name-comment {
            text-align: start;
            margin-top: 10px;
            font-weight: bold;
        }

        .headline-name-season {
            text-align: start;
            margin-top: 0;
            font-weight: bold;
        }

        .season-text {
            max-width: 600px;
            width: 100%;
        }

        .price-text {
            max-width: 600px;
            width: 100%;
        }

        .conditions-text {
            max-width: 600px;
            width: 100%;
        }

        .comment-text {
            max-width: 1200px;
            width: 100%;
        }
    }
}

#detail-top {
    height: 60px;
}

.displayNone {
    display: none;
}
