@charset "utf-8";

/* 特産品一覧タイトル */
.categoryTitle {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    width: 150px;
    padding: 10px;
    font-size: 32px;
    border: solid black 1px;
    border-radius: 999px;
    background-color: chartreuse;
}

/* 特産品一覧カード型配置用 */
.container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
}

/* 特産品一覧カード型成型用 */
.card {
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.cardImg {
    width: 100%;
}

.commonName {
    margin-top: 10px;
}

/* 特産品詳細カード型成型用 */
.detailContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: ivory;
    border: solid black 2px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas:
        "areaA areaA areaB areaB areaB"
        "areaA areaA areaC areaC areaC"
        "areaA areaA areaD areaD areaD"
        "areaA areaA areaE areaE areaE"
        "areaF areaF areaF areaF areaF"
        "areaG areaG areaG areaG areaG"
        "areaH areaH areaH areaH areaH";
}

.detail li {
    padding: 20px;
}

.detailImg {
    width: 100%;
    height: 100%;
    grid-area: areaA;
}

.detailName {
    grid-area: areaB;
    text-align: center;
    padding: 10px;
}

.detailSeason {
    grid-area: areaC;
    padding: 10px;
}

.detailPrice {
    grid-area: areaD;
    padding: 10px;
}

.detailUsage {
    grid-area: areaE;
    padding: 10px;
}

.detailDiscription {
    grid-area: areaF;
    margin-top: 20px;
    padding: 10px;
}

.detail_sub {
    grid-area: areaG;
    text-align: center;
}

.stationLink {
    grid-area: areaH;
    text-align: center;
}

.stationBtn {
    padding: 20px;
}

/* ブログへのリンク */
.bloglink {
    text-align: center;
    margin-top: 50px;
}

/* 特産品詳細表示用 */
.displayNone {
    display: none;
}
