@charset "utf-8";

.container {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 30px;
}

.card {
    background-color: ivory;
    border: solid black 2px;
    padding: 10px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.cardContainer {
    height: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 10% 10% 30% 20%;
    grid-template-areas:
        "areaA areaA "
        "areaB areaC "
        "areaD areaE "
        "areaF areaF "
        "areaG areaG ";
}

.listImg {
    width: 100%;
    grid-area: areaA;
}

.commonName {
    grid-area: areaB;
}

.listPrice {
    grid-area: areaC;
}

.listTypeId {
    grid-area: areaD;
}

.listCategoryName {
    grid-area: areaE;
}

.listDiscription {
    grid-area: areaF;
}

.listStation {
    grid-area: areaG;
    margin-top: 20px;
}

.testspace {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.detail {
    background-color: ivory;
    border: solid black 2px;
    width: 60%;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.detailimg {
    height: 100%;
    width: 100%;
    grid-area: areaA;
}

.detailContainer {
    height: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 50px 50px 200px 150px 30px 30px;
    grid-template-areas:
        "areaA areaA areaB areaB areaB"
        "areaA areaA areaC areaC areaC"
        "areaA areaA areaD areaD areaD"
        "areaA areaA areaE areaE areaE"
        "areaF areaF areaF areaF areaF"
        "areaG areaG areaG areaG areaG"
        "areaH areaH areaH areaH areaH";
}

.detail_name {
    grid-area: areaB;
    text-align: center;
    padding: 10px;
}

.detail_season {
    grid-area: areaC;
    padding: 10px;
}

.detail_price {
    grid-area: areaD;
    padding: 10px;
}

.detail_usage {
    grid-area: areaE;
    padding: 10px;
}

.detail_discription {
    grid-area: areaF;
    margin-top: 20px;
    padding: 10px;
}

.detail_sub {
    grid-area: areaG;
    text-align: center;
    padding: 10px;
}

.station_list {
    grid-area: areaH;
    padding: 10px;
}

.dummyimg {
    height: 100%;
    width: 100%;
    grid-area: areaA;
}

.category {
    border: solid 1px black;
}

.goods_name {
    border: solid 1px black;
}

.roadside_station {
    border: solid 1px black;
}

.discription {
    height: 150%;
    grid-area: areaE;
    margin-top: 30px;
    padding: 5px;
}
