@charset "utf-8";

html {
    overflow-x: hidden;
}

section {
    margin: 0 auto;
    text-align: center;
}

h2 {
    border: 1px solid #000;
    border-radius: 50px;
    width: 100px;
    /* height: 60px; */
    margin: 30px auto 30px auto;
    text-align: center;
    font-size: 20px;
}

.goods {
    display: flex;
    justify-content: center;
    gap: 30px 20px;
    flex-wrap: wrap;
    text-align: center;
}

.goods-photo {
    max-width: 150px;
    /* width: 90%; */
    margin-bottom: 10px;
}

.goods-group {
    /* padding-bottom: 30px; */
}

.detail-group {
    text-align: center;
}

.detail {
    width: 320px;
    height: 215px;
    margin-top: 20px;
}

.item-name {
    margin-top: 30px;
}

.text {
    text-align: left;
}

.item-text {
    padding-top: 0;
    padding-bottom: 30px;
    text-align: left;
}

.buy-place {
    width: 160px;
}

.roadstation-frame {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;

}

.roadstation-name{
width: 160px;
}

.blog-btn {
    text-align: center;
    margin: 0 auto;
}

.blog-btn img {
    max-width: 320px;
    height: auto;
    text-align: center;
    margin: 30px auto 10px auto;
}

/* PC(デスクトップサイズ) */
@media screen and (min-width:900px) {
    .goods {
        display: flex;
        justify-content: flex-start;
        gap: 30px 20px;
        flex-wrap: wrap;
        text-align: center;
    }
}
