@charset "utf-8";

html {
    overflow-x: hidden;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    background-image: url(../images/hedline_yellow.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    color: #B45A27;
}


h3 {
    font-size: 20px;
}

h4 {
    font-weight: bold;
}

.center {
    text-align: center;
}


.title {
    text-align: center;
    display: inline-block;
    border-bottom: dotted 10px #e7d955;
    font-size: 30px;
    color: #B45A27;
    margin-bottom: 30px;

}

.title::before {
    content: '';
    /*何も入れない*/
    display: inline-block;
    width: 80px;
    /*画像の幅*/
    height: 63px;
    /*画像の高さ*/
    background-image: url(../images/illustrations/tanuki-heart.png);
    background-size: cover;
    vertical-align: middle;
    margin-right: 10px;


}

.title::after {
    content: '';
    /*何も入れない*/
    display: inline-block;
    width: 80px;
    /*画像の幅*/
    height: 63px;
    /*画像の高さ*/
    background-image: url(../images/illustrations/tanuki-heart.png);
    background-size: cover;
    vertical-align: middle;
    margin-left: 10px;

}

@media screen and (min-width:600px) {
    .attention {
        margin-top: 300px;
        margin-bottom: 30px;
    }
}


@media screen and (min-width:900px) {
    .kv {
        position: relative;
        top: 0;
    }

    .attention {
        margin-top: 250px;
        margin-bottom: 30px;
    }
}


/* PC(デスクトップサイズ) */
@media screen and (min-width:1115px) {

    .kv {
        position: relative;
        top: 0;
    }


    .kv img {
        object-position: 80% 20%;
    }

    .attention {
        margin-top: 250px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 20px;
        font-weight: bold;
    }

    .attention {

        margin-bottom: 30px;
    }
}
