@charset "utf-8";

.wrapper {
    margin: 0 auto;
    margin-top: 250px;
}

p {
    text-align: start;
}

.blog-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blog-card {
    width: 100%;
    height: auto;
    padding: 20px;
    border: 3px solid #1ca10a;
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 50px;
    background-color: #fff;
    word-break: break-all;
}

.blog-card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.category_list li {
    margin-top: 10px;
    padding: 20px 20px;
}

.side {
    width: 100%;
    border: 3px solid #1ca10a;
    background-color: #1ca10a;
    color: cornsilk;
    padding: 20px 10px;

}

@media screen and (min-width:601px) {

    .blog-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .blog-card {
        width: 40%;
        padding: 10px;
        border: 3px solid #1ca10a;
        box-sizing: border-box;
        border-radius: 20px;
        justify-content: center;
        margin-bottom: 50px;
        text-align: center;
    }


    */ .side {
        width: 100%;
        height: auto;
        border: 3px solid #1ca10a;
        background-color: #1ca10a;
        color: cornsilk;
        padding: 20px 10px;

    }
}


@media screen and (min-width:901px) {

    .sp-kv {
        width: 100%;
    }

    .blog-box {
        display: flex;
    }

    .blog-main {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        position: relative;
    }

    .blog-wrapper {
        width: 75%;
    }

    .side {
        width: 20%;
        height: 400px;
        border: 3px solid #1ca10a;
        background-color: #1ca10a;
        color: cornsilk;
        padding: 20px 10px;
        left: 70%;
    }

    .blog-card {
        padding: 20px;
        border: 3px solid #1ca10a;
        box-sizing: border-box;
        border-radius: 20px;
        justify-content: center;
        text-align: center;

    }


}
