@charset "utf-8";

h2 {
    text-align: center;
    padding: 60px;
    /* background-image: url(../images/illustrations/headline/); */
    width: 1200px;
    height: 150px;

    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    margin-bottom: 60px;
}

h3 {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    padding-bottom: 20px;
    text-align: left;
}

.category-title {
    text-align: left;
}

p {
    text-align: start;
}

/* カテゴリー */
.category {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    padding: 4px 8px;
    background-color: #bdbdbd;
    color: #ffff;
    border-radius: 10px;
}

/* 更新の日時とカテゴリー内容 */
.update-information {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

/* ２カラムを囲う要素 */
.blog-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* カードの設定 */
.blog-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 30px;
    justify-items: center;
}

.blog-card {
    width: 380px;
    height: 650px;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 50px;
    word-break: break-all;
    box-shadow: 5px 5px 8px 0 #af813a;
    border: groove 6px #cf9957;
    background-color: #ffff;
}

.blog-card img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.category_list li {
    margin-top: 10px;
    padding: 20px 20px;
    font-weight: bold;
}

.side {
    width: 100%;
    background-color: #a7d28d;
    color: #8c5243;
    padding: 20px 10px;
}

/* PC版のページネーションを表示 */
.pc {
    display: none;
}

@media screen and (min-width:1080px) {

    /* ２カラムを囲う要素 */
    .blog-main {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sp-kv {
        width: 100%;
    }

    .blog-box {
        display: flex;
    }

    .blog-wrapper {
        width: 70%;
    }

    .side {
        width: 25%;
        height: 400px;
        padding: 20px 10px;
        left: 70%;
    }

}
