@charset "utf-8";

h1 {
    font-size: 32px;
    font-weight: bold;
}

section {
    margin-top: 30px;
}

.center {
    text-align: center;
}

.title {
    /* background-color: #2db458;
    display: inline-block;
    padding: 20px;
    border-radius: 999px;
    margin-bottom: 10px;
    font-weight: bold;
    color: aliceblue; */

    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 60px;
    padding: 60px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    color: #B45A27;
    background-image: url(../images/illustrations/headline/activity_headline.png);
}

.link {
    color: blue;
    text-decoration: underline;
}

.link:hover {
    opacity: 0.5;
}


#top {
    padding-top: 100px;
}

h2 {
    border-bottom: 1px solid black;
}

@media screen and (min-width:1001px) {

    #top {
        padding-top: 0px;
    }
}
