@charset "utf-8";

h1 {
    font-size: 32px;
}

section {
    margin-top: 30px;
}

#top {
    padding-top: 100px;
}

@media screen and (min-width:1001px) {

    #top {
        padding-top: 0px;
    }
}
