@charset "utf-8";

.kv img {
    object-position: 80% 25%;
}

h2,
h3,
h4,
.more {
    text-align: center;
}

h2 {
    /* margin-top: 150px; */
    margin-bottom: 60px;
    background-image: url(../images/hedline_yellow.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    color: #B45A27;
}


h3 {
    padding: 10px 12px;
}

h4 {
    font-size: 20px;
    padding-bottom: 20px;
}

dl {
    text-align: start;
}

dd {
    margin-bottom: 30px;
}

.search_results {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}


.search_results::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background: no-repeat;
    background-image: url(../images/illustrations/tanuki-food2.png);
    background-size: contain;
    vertical-align: middle;
}



form {
    background-color: #ffffff;
    padding: 20px 0;
    margin: 40px 0;
}

/* カード */
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    width: 300px;
    /* width: 306px; */
    height: auto;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    word-break: break-word;
    border-radius: 20px;
    box-shadow: 15px 10px 3px 0 #a7d28d;
    border: solid 3px #8c5243;
    background-color: #ffff;
}

.card:hover {
    position: relative;
    top: 5px;
    left: 10px;
    box-shadow: none;
}


.more {
    border: 1px solid;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
}

.submit-btn {
    text-align: center;

}


.map {
    margin: 0 auto;
}

/* mobile版のチェックボックス配置 */
.mobile-form {
    width: 100%;
}

.mobile_table {
    width: 80%;
    margin: 0 5%;
    margin-left: 40px;
    text-align: left;
}

/* セル内の幅設定 */
.mobile_table tr td {
    width: 120px;
    padding: 0.5rem 0;

}

/* pcを非表示 */
.pc-form {
    display: none;
}

.checkbox-title {
    text-align: center;
    font-size: 1.3rem;
    padding: 10px 0;
    width: 150px;
    margin: 20px auto;
    border-radius: 50px;
    background-color: #A7D28D;
}

@media screen and (min-width:601px) {
    .mobile_table {
        width: 80%;
        margin: 0 5%;
        margin-left: 20%;
        text-align: left;
    }

}

@media screen and (min-width:901px) {


    .kv img {
        margin: 0 auto;
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 200px;
    }



    .search_results {
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .wrapper {
        margin-top: 200px;
    }

    .card-list {
        display: flex;
        flex-direction: row;

        width: 100%;
    }

    .card {
        border: 1px solid;
        width: 300px;
        height: auto;
        padding: 20px;
        /* margin: 0 auto; */
        margin-bottom: 40px;
        word-break: break-word;
    }


    /* PC版のチェックボックス配置 */
    /* mobileを非表示 */
    .mobile-form {
        display: none;
    }

    /* pcを表示 */
    .pc-form {
        display: block;
    }

    .pc-table {
        width: 800px;
        margin: 0 20%;
        text-align: left;
    }

    /* セル内の幅設定 */
    .pc-table tr td {
        width: 300px;
        padding: 0.5rem 0;
    }

    .checkbox-title {
        width: 250px;
    }

}
