/* 各道の駅詳細CSS */
@charset "utf-8";

section {
    margin-bottom: 2rem;
}

/* グーグルマップ */
iframe {
    width: clamp(320px, 90vw, 1160px);
    height: 30vh;
    margin-top: 1.25rem;
}

h3 {
    font-size: 2rem;
    font-family: 'Kiwi Maru',
        serif;
}


h4 {
    font-size: 1.25rem;
    font-family: 'Kiwi Maru', serif;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.width {
    margin-bottom: 1.25rem;
}

.kv {
    max-width: 1200px;
    height: 400px;
    background-color: #ccc;
}

/* 人とコメント */
.flex {
    /* display: flex;
    align-items: center; */
    gap: 1.25rem;
    width: clamp(320px, 100%, 1000px);
    margin: 0 auto;
}

.speech {
    position: relative;
    display: inline-block;
    margin: 1.25rem;
    padding: 1.25rem;
    border-radius: 20px;
    min-width: 120px;
    max-width: 100%;
    background: #ccc;
}

/* PC吹き出しを横に並べる */
@media screen and (min-width:901px) {
    .flex {
        display: flex;
        align-items: center;
    }
}

.speech:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #ccc;
}

.speech p {
    margin: 0;
    padding: 0;
}

/* 画像と文字を重ねる */

/* 道の駅グルメとお土産のエリア */
.img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.deco-h4::after {
    display: block;
    content: "";
    width: 70%;
    height: 0;
    border-top: solid 3px #1ca10a;
    margin-top: 0.5rem;
}

.commentary {
    margin-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
}

.text {
    /* padding: clamp(20px, 4vw, 30px) 0; */
    /* padding: 2.5rem; */
    padding: min(10px, 5%, 30px);
    background-color: #ffffff;
    display: grid;
    align-content: center;
    justify-content: center;

}

/* ボタン */

.blog-btn p {
    /* font-size: clamp(10px, 5vw, 20px); */
    /* font-size: 20px; */
    font-size: clamp(12px, 5vw, 20px);
}

.blog-btn a {
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50px;
    /* font-size: 20px; */
    margin: 0 auto;
    padding: 10px 10px;
    height: 47px;
    width: clamp(280px, 50vw, 380px);

}



/* 基本情報 */
.item {
    background-color: #ccc;
}

dd {
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
}

/* アイコンの幅調整 */
.icon-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    max-width: 300px;
    justify-items: center;
}

/* 星を黄色にする */
.yellow {
    color: #ffff00;
}


/* PCグルメとお土産エリアを横に並べる */
@media screen and (min-width:901px) {
    .container {
        flex-direction: row;
        align-items: center;
    }

    .commentary .reverse {
        flex-direction: row-reverse;
    }

    .container>.text {
        flex: 2;
        min-height: 500px;
    }

    .container>.img {
        flex: 1;
    }
}
