@charset "utf-8";

.kv img {
    object-position: 80% 25%;
}

h2,
h3,
h4,
.more {
    text-align: center;
}

h2 {
    /* margin-top: 150px; */
    margin-bottom: 60px;
    background-image: url(../images/illustrations/headline/station_detail_headline.png);
    width: 1200px;
    height: 150px;

    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    color: #B45A27;
}


h3 {
    padding: 10px 12px;
}


h4 {
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}

/* カード内:直下の画像 */
.card>img {
    border-radius: 20px;
    width: 280px;
    height: 200px;
    object-fit: cover;
}



dl {
    text-align: start;
}

dd {
    margin-bottom: 30px;
}

dt {
    padding-top: 10px;
}

/* 施設アイコン */
dd img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}



.search_results {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}


.search_results::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background: no-repeat;
    background-image: url(../images/illustrations/tanuki-food2.png);
    background-size: contain;
    vertical-align: middle;
}



form {
    background-color: #ffffff;
    padding: 20px 0;
    margin: 40px 0;
    border-radius: 20px;
}


/* カードの設定 */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 30px;
    justify-items: center;
}


.card {
    width: 334px;
    height: 620px;
    /* border: solid 1px; */
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 8px 0 #af813a;
    /* border: 3px #7b7b7b; */
    border: groove 6px #cf9957;
}


dl {
    text-align: start;
}

dd {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card:hover {
    position: relative;
    top: 5px;
    left: 10px;
    box-shadow: none;
}





.more {
    border: 1px solid;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
}

.submit-btn {
    text-align: center;

}


.map {
    margin: 0 auto;
}

/* mobile版のチェックボックス配置 */
.mobile-form {
    width: 100%;
}

.mobile_table {
    width: 80%;
    margin: 0 5%;
    margin-left: 40px;
    text-align: left;
}

/* セル内の幅設定 */
.mobile_table tr td {
    width: 120px;
    padding: 0.5rem 0;

}

/* pcを非表示 */
.pc-form {
    display: none;
}

.checkbox-title {
    text-align: center;
    font-size: 1.3rem;
    padding: 10px 0;
    width: 130px;
    margin: 20px auto;
    border-bottom: dotted 10px #e7d955;
    font-weight: bold;

}

.more-btn {
    display: inline-block;
    border-radius: 50px;
    background-color: #A7D28D;
    padding: 15px;
    width: 100px;
    margin: 20px;


}


.more-btn:hover {
    position: relative;
    top: 2px;
    left: 5px;
    box-shadow: none;
    opacity: 0.7;
}


@media screen and (min-width:601px) {
    .mobile_table {
        width: 80%;
        margin: 0 5%;
        margin-left: 20%;
        text-align: left;
    }


    /* カードの設定 */
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: 30px;
        justify-items: center;
    }



    dl {
        text-align: start;
    }

    .card:hover {
        position: relative;
        top: 5px;
        left: 10px;
        box-shadow: none;
    }
}


@media screen and (min-width:901px) {

    .search_results {
        font-size: 2rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }


    /* カードの設定 */
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: 30px;
        justify-items: center;
    }


    dl {
        text-align: start;
    }

    .card:hover {
        position: relative;
        top: 5px;
        left: 10px;
        box-shadow: none;
    }



    /* PC版のチェックボックス配置 */
    /* mobileを非表示 */
    .mobile-form {
        display: none;
    }

    /* pcを表示 */
    .pc-form {
        display: block;
    }

    .pc-table {
        width: 800px;
        margin: 0 20%;
        text-align: left;
    }

    /* セル内の幅設定 */
    .pc-table tr td {
        width: 300px;
        padding: 0.5rem 0;
    }

    .checkbox-title {
        text-align: center;
        font-size: 1.3rem;
        padding: 10px 0;
        width: 130px;
        margin: 20px auto;
        border-bottom: dotted 10px #e7d955;
        font-weight: bold;
    }

}
