@charset "utf-8";


/* .wrapper {
    margin-top: 250px;
} */


.kv img {
    object-position: center;
    z-index: -1;
}

h2 {
    /* margin-top: 150px; */
    margin-bottom: 50px;



}



h4 {
    font-weight: bold;
    font-size: 20px;

}

.stationlist-box {
    text-align: center;
}

dl {
    text-align: start;
}


dd {
    margin-bottom: 30px;
}


.east-title {
    text-align: center;
    display: inline-block;
    /* padding: 20px 23px; */
    border-bottom: dotted 10px #e7d955;
    font-size: 30px;
    color: #B45A27;
    /* padding: 1rem 0; */
    margin-bottom: 30px;

}


.east-title::before {
    content: '';
    /*何も入れない*/
    display: inline-block;
    width: 80px;
    /*画像の幅*/
    height: 80px;
    /*画像の高さ*/
    padding: 10px;
    background-image: url(../images/illustrations/east1.png);
    background-size: cover;
    vertical-align: middle;
    margin-right: 10px;


}


.east-title::after {
    content: '';
    /*何も入れない*/
    display: inline-block;
    width: 80px;
    /*画像の幅*/
    height: 80px;
    /*画像の高さ*/
    padding: 10px;
    background-image: url(../images/illustrations/east2.png);
    background-size: cover;
    vertical-align: middle;
    margin-left: 10px;

}



.west-title {
    text-align: center;
    display: inline-block;
    /* padding: 20px 23px; */
    border-bottom: dotted 10px #e7d955;
    font-size: 30px;
    color: #B45A27;
    /* padding: 1rem 0; */
    margin-bottom: 30px;


}

.west-title::before {
    content: '';
    /*何も入れない*/
    display: inline-block;
    width: 80px;
    /*画像の幅*/
    height: 80px;
    /*画像の高さ*/
    padding: 10px;
    background-image: url(../images/illustrations/west1.png);
    background-size: cover;
    vertical-align: middle;
    margin-right: 10px;


}


.west-title::after {
    content: '';
    /*何も入れない*/
    display: inline-block;
    width: 80px;
    /*画像の幅*/
    height: 80px;
    /*画像の高さ*/
    padding: 10px;
    background-image: url(../images/illustrations/west2.png);
    background-size: cover;
    vertical-align: middle;
    margin-left: 10px;

}



.south-title {
    text-align: center;
    display: inline-block;
    /* padding: 20px 23px; */
    border-bottom: dotted 10px #e7d955;
    font-size: 30px;
    color: #B45A27;
    /* padding: 1rem 0; */
    margin-bottom: 30px;



}



.south-title::before {
    content: '';
    /*何も入れない*/
    display: inline-block;
    width: 80px;
    /*画像の幅*/
    height: 80px;
    /*画像の高さ*/
    padding: 10px;
    background-image: url(../images/illustrations/south1.png);
    background-size: cover;
    vertical-align: middle;
    margin-right: 10px;
}


.south-title::after {
    content: '';
    /*何も入れない*/
    display: inline-block;
    width: 80px;
    /*画像の幅*/
    height: 80px;
    /*画像の高さ*/
    padding: 10px;
    background-image: url(../images/illustrations/south2.png);
    background-size: cover;
    vertical-align: middle;
    margin-left: 10px;

}








.stationlist-banner {
    max-width: 360px;
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;

}

.stationlist-title {
    /* margin-top: 250px; */
    text-align: center;
    margin-bottom: 30px;
    background-image: url(../images/bg_headline.png);
    background-repeat: no-repeat;
    padding: 20px;
    color: #B45A27;
    text-align: center;
}

.east {
    margin-bottom: 80px;
}

.west {
    margin-bottom: 80px;
}

.south {
    margin-bottom: 80px;
}

.card>img {
    border-radius: 20px;
}


.card-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    /* width: 306px; */
    height: auto;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    word-break: break-word;
    border-radius: 20px;
    box-shadow: 15px 10px 3px 0 #a7d28d;
    border: solid 3px #8c5243;
    background-color: #ffff;
}

.card:hover {
    position: relative;
    top: 5px;
    left: 10px;
    box-shadow: none;
}





dt {
    padding-top: 10px;
}

dd img {
    padding: 3px 1px;
}


@media screen and (min-width:601px) {

    /* .wrapper {
        margin-top: 250px;
    } */

    .stationlist-title {
        /* margin-top: 300px; */
        text-align: center;
        margin-bottom: 30px;
    }
}


@media screen and (min-width:761px) {
    /* 
    .wrapper {
        margin-top: 250px;
    } */



    h2 {
        /* margin-top: 250px; */
        margin-bottom: 30px;
    }


    .stationlist-title {
        /* margin-top: 300px; */
        text-align: center;
        margin-bottom: 30px;
    }


    .stationlist-banner {
        max-width: 761px;
        height: auto;
        width: 100%;
        object-fit: cover;
        margin-bottom: 150px;
    }


    .east {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

    }



    .card {
        box-shadow: 15px 10px 3px 0 #a7d28d;
        border: solid 3px #8c5243;
        width: 300px;
        height: auto;
        padding: 20px;
        /* margin: 0 auto; */
        margin-bottom: 40px;
        word-break: break-word;
    }

    .west {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;


    }



    .south {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;


    }
}


@media screen and (min-width:900px) {
    /* 
    .wrapper {
        margin-top: 250px;
    } */


    .kv {
        object-position: center;
        position: relative;
        top: 0;
    }

    .kv-img {
        z-index: -1;
    }

}







@media screen and (min-width:901px) {

    /* .wrapper {
        margin-top: 250px;
    } */

    .kv {
        object-position: center;
        position: relative;
        top: 0;
    }

    h2 {
        /* margin-top: 150px;
        margin-bottom: 50px; */
        background-repeat: no-repeat;
        background-size: contain;
        /* width: 300px;
        height: 100px; */
        padding: 20px;
        color: #B45A27;
        margin: 0 auto;

    }




    .east {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

    }



    .card {
        box-shadow: 15px 10px 3px 0 #a7d28d;
        border: solid 3px #8c5243;

        width: 300px;
        height: auto;
        padding: 20px;
        /* margin: 0 auto; */
        margin-bottom: 40px;
        word-break: break-word;
    }

    .west {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;


    }



    .south {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;


    }
}
