@charset "utf-8";

h2,
h3,
h4,
.more {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.card>img {
    border-radius: 20px;
}

.area_category {
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
}

h3 {
    font-size: 2rem;
    padding: 1rem 0;
    /* padding: 20px 20px; */
    /* background-color: #ccc; */
}

.area-btn {
    padding: 10px 10px;
    border-radius: 30px;
    background-color: #ccc;
}

.area-btn:hover {
    background-color: #ffffff;
}

.search_results {
    margin-top: 20px;
    margin-bottom: 10px;
}

.kv img {
    margin: 0 auto;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100px;
    /* float: left; */
}

.area {
    /* width: 360px; */
    display: flex;
    /* gap: 40px; */
    margin: 0 auto;
    /* padding: 80px; */
    justify-content: space-evenly;
}

.area>h3 {
    display: inline-block;
    /* padding: 20px 30px; */
    border-radius: 20px;
    color: #ffff;
    background-color: #ccc;
}

dt {
    padding-top: 10px;
}

dd img {
    padding: 3px 1px;
}


.card-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid;
    width: 300px;
    /* width: 306px; */
    height: auto;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    word-break: break-word;
    border-radius: 20px;
}


.more {
    border: 1px solid;
    padding: 5px 10px;
    display: inline-block;
    text-align: center;

}

@media screen and (min-width:601px) {
    .area-btn {
        padding: 20px 30px;
        border-radius: 30px;
        background-color: #ccc;
    }
}

@media screen and (min-width:901px) {

    .wrapper {
        margin-top: 100px;
    }

    .kv img {
        margin: 0 auto;
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 200px;
    }

    .card-list {
        display: flex;
        flex-direction: row;

        width: 100%;
    }

    .card {
        border: 1px solid;
        width: 300px;
        height: auto;
        padding: 20px;
        /* margin: 0 auto; */
        margin-bottom: 40px;
        word-break: break-word;
    }

    h3 {
        font-size: 2rem;
        padding: 2rem 0;
        padding: 10px 12px;
    }

    .area {
        margin-top: 40px;
        gap: 5%;
        justify-content: center;
    }

    .area>h3 {
        display: inline-block;
        padding: 20px 30px;
        border-radius: 50px;
        color: #ffff;
        background-color: #ccc;
    }
}
