@charset "utf-8";

h2,
h3 {
    margin-bottom: 30px;
}

.stationlist-box {
    text-align: center;
}

.east-title {
    text-align: center;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 20px;
    color: #ffff;
    background-color: #ccc;
}

.west-title {
    text-align: center;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 20px;
    color: #ffff;
    background-color: #ccc;
}

.south-title {
    text-align: center;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 20px;
    color: #ffff;
    background-color: #ccc;

}

.stationlist-banner {
    max-width: 360px;
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;

}

.stationlist-title {
    text-align: center;
    margin-bottom: 30px;
}

.east {
    margin-bottom: 80px;
}

.west {
    margin-bottom: 80px;
}

.south {
    margin-bottom: 80px;
}

.card>img {
    border-radius: 20px;
}


.card-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid;
    width: 300px;
    /* width: 306px; */
    height: auto;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
    word-break: break-word;
    border-radius: 20px;
}

dt {
    padding-top: 10px;
}

dd img {
    padding: 3px 1px;
}


@media screen and (min-width:761px) {

    .stationlist-banner {
        max-width: 761px;
        height: auto;
        width: 100%;
        object-fit: cover;
        margin-bottom: 150px;
    }


    .east {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

    }



    .card {
        border: 1px solid;
        width: 300px;
        height: auto;
        padding: 20px;
        /* margin: 0 auto; */
        margin-bottom: 40px;
        word-break: break-word;
    }

    .west {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;


    }



    .south {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;


    }
}









@media screen and (min-width:901px) {
    .stationlist-banner {
        max-width: 1400px;
        height: auto;
        width: 100%;
        object-fit: cover;
        margin-bottom: 150px;
    }



    .east {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

    }



    .card {
        border: 1px solid;
        width: 300px;
        height: auto;
        padding: 20px;
        /* margin: 0 auto; */
        margin-bottom: 40px;
        word-break: break-word;
    }

    .west {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;


    }



    .south {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;


    }
}
